$background-color: #121212;
$background-active-color: #1e2430;
$text-color: #e0e0e0;
$text-secondary-color: rgba(255, 255, 255, 0.7);
$accent-color: #007bff;
$accent-color-darker: darken($accent-color, 5%);
$error-color: red;
$error-hover-color: darken($error-color, 5%);
